/*Elementos Principales*/
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-image: url("../Imagenes Blog/Fondo2.jpg");
    font-family: 'Lexend', sans-serif;
}

/*Instalamos Fuente*/
.lexend_font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*Reutilizacion de la classe de articulos */
.imagenheader {
    height: 250px;
    border: 2px solid #ddd;
    
}

.headertitulo {
    margin-top: -40px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 100px;
}

/*--------Fondos Determinados-------------*/
/*Manipulados con Java Script*/
#Fondo1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("ImagenesArchivador/Fondo1.jpg");
    
    background-repeat: no-repeat;
    background-position: center 11%;
    background-size: cover;
    width: 100%;
}

#Fondo2{
    
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("ImagenesArchivador/Fondo2.jpg");
   
    background-repeat: no-repeat;
    background-position: center 3%;
    background-size: cover;
    width: 100%;
}

#Fondo3 {
   
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("ImagenesArchivador/Fondo3.jpg");
    
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    width: 100%;
}

#Fondo4 {
 
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("ImagenesArchivador/Fondo4.jpg");

    background-repeat: no-repeat;
    background-position: center 11%;
    background-size: cover;
    width: 100%;
}


/*----------------------------------------*/

/*--------Redefinición de etiquetas html-------------*/
h1 {


    border-radius: 5px;
    border: solid 1px rgb(210, 180, 140);
    background-color: rgb(210, 180, 140);
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*Estilos de la fuente*/
    margin-top: 0px;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;

}

/*Reinicio de los estilos por defecto de los links*/
a {
    all: unset;
}

/*-------------------------------------------*/
/*---------------Configuracion de Nav------------------*/
.navMenu {
    margin-top: -32px;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    border: solid 1px rgb(210, 180, 140);
    background-color: rgb(198, 148, 83);
    cursor: pointer; /* Cambia a "mano/dedo" */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 100%;
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.navMenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.navMenu div + div {
    border-left: solid 3px rgb(206, 189, 165);
}

a div:hover {
    transform: scale(1.05);
    
    transition: transform 0.3s ease;
    
}



/*-------------------------------------------*/
/*Propiedad solo manipulada con Java Script*/
.sectionSelect{
    background-color: rgb(210, 180, 140);
}

/*--------------Elemento contenedor-------------------*/
.container {
    background-color: rgb(210, 180, 140);
    width: 100%;
    min-height: 620px; /* Cambiado a min-height */
    height: auto; /* Altura automática */
    display: flex;
    align-items: start;
    
}

.container > div {
    margin-top: 30px;
    border-radius: 10px;
}

/*Recuadro lateral derecho*/
#updates {
    margin-right: 100px;
    margin-left: 80px;
    width: 340px;
    min-height: 570px;
    height: auto;
    border: solid 2px black;

}
/*Recuadro lateral izquierdo*/
#screen {
    width: 1400px;
    min-height: 570px;
    height: auto;
    border: solid 2px black;
    margin-right: 20px;
}
/*Desplagable mobil*/
#menuMobile{
    display: none;
}


/*----------------------------PROPIEDADES INTERNAS LA PANTALLA------------------------------------*/


/*Propiedades compartidas con html externos*/

#screen {
    background-color: #ffffff;
}























/*------------------------------------------------------------------------------------------------*/
/*-------Diseño Responsive--------*/
/*--Ordenador Pequeño - Tablet Grande----*/
@media (max-width: 1024px){
    /*Re-Ajustamos Titulos*/
    h1{
        font-size: 1.3rem;
    }
    /*Quitamos imagen y titulo principal*/
    .imagenheader,.headertitulo{
        display: none;
    }

    /*Reducimos el container a una mida especifica*/
    
    
    /*Reajustamos el menu de navegacion*/
    .navMenu {
        margin: 0px;
    }
    .navMenu div {
        width: 170px;
        justify-content: center;
        font-size: 0.8rem;
    }

    .container{
        min-height: 100dvh;
        width: 100%;
    }

    .navMenu a {
        width: 170px;
        
    }

    /*Modificamos elementos principales*/
    #updates{
        margin-left: 25px;
        min-height: calc(100dvh - 50px);
        width: 240px;
    }

    #screen {
        margin-right: 30px;
        width: 650px;
        min-height: calc(100dvh - 50px);
    }
}

/*Tabletas medianas pequeñas*/
/*Moviles grandes - medianos*/
@media (max-width: 770px){
    h1{
        font-size: 1.2rem;
    }
    .imagenheader,.headertitulo,.navMenu,#updates{
        display: none;
    }

    .container{
         min-height: 100dvh;
         display: flex;
         flex-direction: column; /* Elementos en columna */
    }
    #menuMobile{
        display: block;
        width: 100%;
        height: 50px;
        background-color: rgb(140, 88, 21);
        cursor: pointer; /* Cambia a "mano/dedo" */
        align-items: center;
        justify-content: center;
        /*Estilos de Fuente*/
        color: #ffffff;
        text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    #screen {
        margin-top: 0px;
        width: 100%;
        border:none;
        display: block;
        min-height: calc(100dvh - 50px);
        
    }
}


/*Moviles grandes - medianos*/
@media (max-width: 512px){
    h1{
        font-size: 1.2rem;
    }
    .imagenheader,.headertitulo,.navMenu,#updates{
        display: none;
    }

    .container{
         min-height: 100dvh;
         display: flex;
         flex-direction: column; /* Elementos en columna */
    }
    #menuMobile{
        display: block;
        width: 100%;
        height: 50px;
        background-color: rgb(140, 88, 21);
        cursor: pointer; /* Cambia a "mano/dedo" */
        align-items: center;
        justify-content: center;
        /*Estilos de Fuente*/
        color: #ffffff;
        text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    #screen {
        margin-top: 0px;
        width: 100%;
        border:none;
        display: block;
        min-height: calc(100dvh - 50px);
        
    }
}


/*Moviles pequeños*/
/*Moviles grandes - medianos*/
@media (max-width: 512px){
    h1{
        font-size: 1.2rem;
    }
    .imagenheader,.headertitulo,.navMenu,#updates{
        display: none;
    }

    .container{
         min-height: 100dvh;
         display: flex;
         flex-direction: column; /* Elementos en columna */
    }
    #menuMobile{
        display: block;
        width: 100%;
        height: 50px;
        background-color: rgb(140, 88, 21);
        cursor: pointer; /* Cambia a "mano/dedo" */
        align-items: center;
        justify-content: center;
        /*Estilos de Fuente*/
        color: #ffffff;
        text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    #screen {
        margin-top: 0px;
        width: 100%;
        border:none;
        display: block;
        min-height: calc(100dvh - 50px);
        
    }
}