# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos específicos de VS Code
*.code-workspace

# SFTP configuration
sftp.json

# CARPETAS 
Docs/*
!Docs/README.md
!Docs/LICENSE

# Archivos de Prueba
Pruebas.html
Prueba.css
Prueba.js

#BD
components/api/database.php
components/api/generar_ultimo_card.php

#HTML DINAMICO
Archivador/container/cards_generados.html