# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos específicos de VS Code
*.code-workspace

# SFTP configuration
sftp.json

# CARPETAS 
Docs/*
!Docs/README.md
!Docs/LICENSE

# Archivos de Prueba
Pruebas.html
Prueba.css
Prueba.js